@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
:root {
--font: "Source Sans Pro";
}
body {
  background: #1e2023;
  font-family: var(--font);
}
.post {
 float: left;
 width: 31%;
 margin-right: 2%;
 background: white;
 box-sizing: border-box;
 margin-top: 3%;
}
.post:first-child {
  margin-left: 1%;
}
.post:last-child {
  margin-left: 1%;
}
.post-img {
  width: 100%;
  height: auto;
}
.content {
  padding: 1em;
}
