
body {
  font-family: "Open Sans", sans-serif;

}

/* Columns using CSS Grid */

	
/* Responsive Styling */
@media only screen and (min-width: 960px) {
	.columns {
		column-count: 4;
		column-width: 25%;
	}
}
@media only screen and (max-width: 768px) {
	.columns {
		column-count: 2;
		column-width: 50%;
	}
}
@media only screen and (max-width: 479px) {
	.columns {
		column-count: 1;
		column-width: 100%;
	}
}
